## _Домашнее задание 2_
На складе лежат разные фрукты в разном количестве.<br>

Нужно написать функцию, которая на вход принимает<br> любое количество названий фруктов и их количество,<br>а возвращает общее количество фруктов на складе

In [81]:
def total_fruits(**fruits):
    return sum(fruits.values())

In [82]:
total_fruits(banana=5, mango=7, apple=8)

20

In [83]:
total_fruits(banana=5, mango=7, apple=8, pear=15)

35

# _Домашнее задание 3_
Дан список с затратами на рекламу. Но в данных есть ошибки,<br>
некоторые затраты имеют отрицательную величину. Удалите<br>
такие значения из списка и посчитайте суммарные затраты<br>
[100, 125, -90, 345, 655, -1, 0, 200]<br>
Используйте list comprehensions

In [84]:
orig_expenses = [100, 125, -90, 345, 655, -1, 0, 200]
expenses = [i if i > 0 else 0 for i in orig_expenses]
expenses

[100, 125, 0, 345, 655, 0, 0, 200]

In [85]:
sum(expenses)

1425

# _Домашнее задание 3_
Даны два списка.<br>
Дата покупки<br>
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']<br>
Суммы покупок по датам<br>
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]<br>
## 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions<br>
## 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.<br>
Используйте аннотирование типов.

In [71]:
Date_purchase=['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29',
               '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02',
               '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09',
               '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

In [72]:
Purchase_amount=[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971,
                 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

# 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [73]:
import datetime as dt
result=sum([Purchase_amount[i] if dt.date.fromisoformat(Date_purchase[i]) >= dt.date.fromisoformat('2021-11-01')
            and dt.date.fromisoformat(Date_purchase[i]) <= dt.date.fromisoformat('2021-11-30')  else 0 for i in range(len(Date_purchase))])
print (result)

25098

## 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.<br>
Используйте аннотирование типов.

In [103]:
def company_revenue(lst_date: list, lst_sum: list) ->dict:
    dic_group={str(dt.date.fromisoformat(lst_date[i]).month)+"-"+str(dt.date.fromisoformat(lst_date[i]).year): 0 for i in range(len(lst_date))}
    for k,v in dic_group.items():
        sum_tmp=0
        for i in range(len(lst_date)):
            str_temp=str(dt.date.fromisoformat(lst_date[i]).month)+"-"+str(dt.date.fromisoformat(lst_date[i]).year)
            if str_temp==k: sum_tmp+=lst_sum[i]
        dic_group[k] = sum_tmp
    return dic_group

In [104]:
company_revenue(Date_purchase,Purchase_amount)

{'9-2021': 25647, '12-2021': 45452, '10-2021': 28645, '11-2021': 25098}